.statusPage{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusPageWorkDiv{
    width: 70%;
    padding: 20px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.statusBar{
    display: flex;
    width: 70%;
    
}
.statusTitle{
    width: 50%;
    border: 1px solid rgb(12, 187, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0px;
    font-size: 18px;
    color: black;
    cursor: pointer;
}
.activeBarStatus{
    background-color: rgb(12, 187, 187);
    color: white;
}
.statusList{
    width: 100%;
    /* border: 1px solid rgb(12, 187, 187); */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}
.statusRowList{
    display: flex;
    padding: 5px 0px;
    border: 1px solid rgb(12, 187, 187);
    margin-bottom: 10px;
}
.statusName{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.statusDrDetails{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.statusBtns{
    width:  30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icons{
    width: 40px;
    height: 40px;
    background-color: greenyellow;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}